/*
* @Author: JiaxiaLi
* @Date:   2017-10-29 22:43:44
* @Last Modified by:   JiaxiaLi
* @Last Modified time: 2017-10-30 07:01:08
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
}